*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   min-height: 100vh;
   min-width: 100%;
}

.test{
    color: red;
}
/* necessario per dare colore e centrare il main */
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #141414;
}

.center-main{
    width: 100%;
    background-color: #141414;
    min-height: 100vh;
}
.center2{
    margin: 0px auto; 
    width: 95%;
}
/* style navbar */
/* colore navbar */
nav.navbar{
    background-color: #141414;
}
/* logo navbar */
.logo{
    width: 110px;
    cursor: pointer;
    position: relative;
    right: 10px;
}
/* colore e grandezza icone a destra */
nav.navbar form {
    color: white;  
    width: 200px;
}
/* modifica posizione icone navbar a una certa grandezza (sembrava più carino) */
@media screen and (max-width: 1199px) {
    ul.navbar-nav{
        flex-direction: row;
        justify-content: space-around;
        gap:10px;
        text-align: center;
    }
    nav.navbar form{
        width: 100%;
        justify-content: center;
    }
}

/* per mettere il cursore su tutte le icone a destra */
nav.navbar form>*{
    cursor: pointer;
}

/* grandezza delle scritte a destra */
nav.navbar form i, nav.navbar form span{
    font-size: large;
} 

/* img user destro */
nav.navbar form div.dropdown img{
    width: 30px;
}
/* bottone vicino alla navbar */
nav.navbar form div.dropdown button{
    color: white;
    padding: 4px;
}
/* pulizia preset style del dropdown */
nav.navbar form div.dropdown ul.dropdown-menu{
    background-color: #141414;
    --bs-dropdown-link-hover-bg: none;
    --bs-dropdown-link-active-bg: red;
}
/* colore dei test dropdown */
nav.navbar form div.dropdown ul.dropdown-menu li a{
    color: white;
}
/* piccolo effetto hover per renderlo più friendly */
a.dropdown-item:hover{
    text-decoration: underline;
}
/* tipo + genere */
/* stile bottone */
div.shows-genre button{
    --bs-btn-bg: black;
    --bs-btn-border-color: white;
    border-radius: 0%;
    padding: 4px 10px;

}
/* distanza tra bottone e freccia */
div.shows-genre button::after{
    margin-left: 1.8em;
}
/* dropdown genres */
div.shows-genre div.dropdown ul.dropdown-menu{
    background-color: black;
    --bs-dropdown-link-hover-bg: none;
    --bs-dropdown-link-active-bg: red;
}
/* lista serie */
.list-cont{
    width: 100%;
    height: auto;
}
/* pag degli elementi delle liste */
div.shows-list{
    column-gap: 5px;
}
/* fa in modo che la grandezza e l'altezza cambi + tansition */
div.shows-list img{
    max-width: auto;
    min-width: auto;
    height: auto;
    margin: 0px px;
    padding: 0;
    transition: transform 0.5s ease .1s;
}
/* transizione per renderle pù grandi con l'hover */
div.shows-list img:hover{
    transform: scale(1.2) ;
}
/* modifica la dimenzione con i viewport in modo da regolare meglio le immagini con i telefono/tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    div.shows-list img{
        width: 49%;
    }
}
@media (max-width: 767px){
    div.shows-list{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    div.shows-list img{
        width: 90%;
        transition: transform 0.5s ease .1s;
    }
    div.shows-list img:hover{
        transform: scale(1.1) ;
    }
}
/* parte inferiore con tutti i link */
.bottom{
    margin: 90px auto 0px auto;
    width: 50%;
}
.bottom-brads{
    /* margin: 90px auto 0px auto; */
    width: 100%;
}
@media (max-width: 991.98px){
    div.bottom div.bottom-brads{
        justify-content: center !important;
    }
    div.bottom div.bottom-brads .social{
        justify-content: center !important; 
    }
}
.social{
    width: 50%;
}
.social i{
    font-size: 32px;
    text-align: center;
    width: auto;
    color: grey;
    cursor: pointer;
}
.bottom-contacts{
    width: 100%;
    height: 100%;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.con-txt{
    padding: 0;
    color: grey;
    cursor: pointer;
    transition: color ease-in-out .15s;
}
div.con-txt:hover{
    color: white;
}

@media (max-width: 991.98px)  {
    div.bottom-contacts{
        flex-direction: column;
        align-items: center;
    }
}
div.service-code span{
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color:gray;
    padding: 6px;
    cursor: pointer;
    transition: color ease-in-out .15s;
}
div.service-code span:hover{
    color: white;
}
div.copyright span{
    color: grey;
    font-size: small;
}
